<h2><%= @game.team.name %> VS <%= @game.opponent %> at <%= @game.place %></h2>
<h3><%= @game.date %></h3>
<%= link_to("[Edit]", edit_game_path) %>
<ul>
<% @game.members.each do |member| %>
<li>
<% render_plain member.participants %>
</li>
<% end %>
</ul>
